.toast-container .ngx-toastr {
  padding: 5px 15px 5px 40px !important;
  border-radius: 5px !important;
  background-position: 8px center !important;
  color: #000 !important;
  font-size: 1.4rem;
  font-weight: 500;
}

:is([dir='rtl'] .toast-container .ngx-toastr) {
  padding: 5px 40px 5px 15px !important;
}

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  display: -webkit-box;
  overflow: hidden;
  width: auto !important;
  min-width: 300px;
  max-width: 600px;
  max-height: 95px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  word-break: break-word;
}

.toast-top-center {
  top: 20px !important;
  right: 50% !important;
  width: auto !important;
  transform: translate(50%, 0) !important;
}

.toast-success {
  background-color: #f6ffed !important;
  background-image: url('../../../../../assets/vehicle-system/icons/success-icon.png') !important;
}

:is([dir='rtl'] .toast-success) {
  background-position: 98% !important;
}

.toast-error {
  background-color: #fff2f0 !important;
  background-image: url('../../../../../assets/vehicle-system/icons/error-icon.png') !important;
}

:is([dir='rtl'] .toast-error) {
  background-position: 98% !important;
}
