<div class="fine-details-modal-content  " *transloco="let tl; read: 'vs.trafficFine'">
    <div class="bg-[var(--vs-dialog-li-bg-color-striped)]">
        <span>{{tl('fineType')}}:</span>
        <span>{{modalData.fineType}}</span>
    </div>
    <div class="bg-[var(--vs-dialog-li-bg-color-striped-light)]">
        <span>{{tl('ticketNumber')}}:</span>
        <span>{{modalData.ticketNumber}}</span>
    </div>
    <div class="bg-[var(--vs-dialog-li-bg-color-striped)]">
        <span>{{tl('ticketDate')}} & {{tl('time')}}:</span>
        <span>{{modalData.ticketDate}}</span>
    </div>
    <div class="bg-[var(--vs-dialog-li-bg-color-striped-light)]">
        <span>{{tl('plateNumber')}}:</span>
        <span>{{modalData.plateNumber}}</span>
    </div>
    <div class="bg-[var(--vs-dialog-li-bg-color-striped)]">
        <span>{{tl('ticketLocation')}}:</span>
        <span>{{modalData.ticketLocation}}</span>
    </div>
    <div class="bg-[var(--vs-dialog-li-bg-color-striped-light)]">
        <span>{{tl('ticketCoOrdinates')}}:</span>
        <span>{{modalData.ticketXco}},{{modalData.ticketYco}}</span>
    </div>
    <div class="bg-[var(--vs-dialog-li-bg-color-striped)]">
        <span>{{tl('emirates')}}:</span>
        <span>{{modalData.emirates}}</span>
    </div>
    <div class="bg-[var(--vs-dialog-li-bg-color-striped-light)]">
        <span>{{tl('wasPolicePresent')}}:</span>
        <span>{{modalData.wasPolicePresent}}</span>
    </div>
    <div class="bg-[var(--vs-dialog-li-bg-color-striped)]">
        <span>{{tl('driversLicenseNumber')}}:</span>
        <span>{{modalData.driverLicense}}</span>
    </div>
    <div class="bg-[var(--vs-dialog-li-bg-color-striped-light)]">
        <span>{{tl('driversTrafficFileNumber')}}:</span>
        <span>{{modalData.driversTrafficFileNumber}}</span>
    </div>
    <div class="bg-[var(--vs-dialog-li-bg-color-striped)]">
        <span>{{tl('driversName')}}:</span>
        <span>{{modalData.driversName}}</span>
    </div>
    <div class="bg-[var(--vs-dialog-li-bg-color-striped-light)]">
        <span>{{tl('vehicleSpeed')}}:</span>
        <span>{{modalData.vehicleSpeed}}</span>
    </div>
</div>
