@layer base {
  :root {
    --close-logo: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/close-botton.png');
    --full-screen-image-close: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/close-botton.png');
    --vs-color-primary: #ffd600; // the primary color for icon, button
    --vs-color-primary-light: #fff84d; // a bit light
    --vs-color-secondary: #efca45;
    --vs-text-color-light: #c3c3c3; // a bit light
    --vs-text-color-regular: #979797; // regular text color
    --vs-text-color-secondary: #a59e86;
    --vs-text-color-disabled: #888;
    --vs-bg-color: #343434; // the background of page
    --vs-overlayer-bg-color: #1f1f1f; // overlayer background color
    --vs-fill-color: #000; // fill the same area of the background
    --vs-border-color: #b2b2b2;
    --vs-input-border-shadow-focused: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 0 3px rgb(0 126 255 / 10%);
    --vs-input-border-color-focused: #007eff;
    --vs-input-border-color: #666;
    --vs-vehicle-form-value-color-disabled: #888;
    --vs-dropdown-bg-color: var(--vs-overlayer-bg-color);
    --vs-dropdown-item-bg-color-hover: var(--vs-bg-color);
    --vs-chart-dialog-bg-color: var(--vs-overlayer-bg-color);
    --vs-button-text-color-critical: #fff;
    --vs-button-bg-color-major: #f90;
    --vs-button-text-color-major: #000;
    --vs-button-bg-color-minor: #fff84d;
    --vs-button-text-color-minor: #000;
    --vs-button-reset-color:
      linear-gradient(to right, var(--vs-sidebar-left-bg-color), var(--vs-sidebar-left-bg-color)),
      linear-gradient(to right, #159536, #beef34);
    --vs-button-cancel-color:
      linear-gradient(to right, var(--vs-sidebar-right-bg-color), var(--vs-sidebar-right-bg-color)),
      linear-gradient(to right, #159536, #beef34);
    --vs-confirm-btn-color: linear-gradient(53deg, #009739, #beef33 100%);
    --vs-no-data-bg-img: url('../assets/images/nodata-dark.svg');
    --vs-dialog-label-color: #888;
    --vs-ai-create-task-btn-icon: url('../../../../assets/vehicle-system/icons/ai-algorithms/create-task-green.png');

    // variable on the vehicle-system
    --vs-vehicle-font-family: ubuntu, sans-serif;
  }

  :root[data-theme='dark'] {
    // variable on the global
    --vs-vehicle-font-color: #c3c3c3;
    --vs-vehicle-search-background: #353430;
    --vs-vehicle-content-background: #1f1f1f;
    --vs-vehicle-main-title-color: #fff84d;
    --vs-vehicle-sub-title-color: #979797;
    --vs-vehicle-form-placeholder-color: rgb(195 195 195 / 40%);
    --vs-vehicle-form-value-color: #c3c3c3;
    --vs-vehicle-form-input-background: #202020;
    --vs-vehicle-form-input-disabled-background: #2a2a28;
    --vs-vehicle-form-input-border-color: #666;
    --vs-vehicle-form-input-arrowicon-background: #5b5b5b;

    // variable on the menu
    --vs-menu-home-icon: url('../assets/icons/menu-home-dark.svg');
    --vs-menu-trafficsearch-icon: url('../assets/icons/menu-traffic-search-dark.svg');
    --vs-menu-alert-icon: url('../assets/icons/menu-alert-dark.svg');
    --vs-menu-aialgorithm-icon: url('../assets/icons/menu-ai-dark.svg');
    --vs-menu-task-icon: url('../assets/icons/menu-task-dark.svg');
    --vs-menu-trafficfine-icon: url('../assets/icons/menu-traffic-fine-dark.svg');
    --vs-menu-vehicleprofile-icon: url('../assets/icons/menu-vehicle-dark.svg');
    --vs-menu-rental-icon: url('../assets/icons/menu-rental-dark.svg');
    --vs-menu-index-icon: url('../assets/icons/menu-index-dark.svg');
    --vs-menu-logout-icon: url('../assets/icons/menu-logout-dark.svg');
    --vs-menu-profile-icon: url('../assets/icons/menu-profile-dark.svg');
    --vs-menu-settings-icon: url('../assets/icons/menu-setting-dark.svg');
    --vs-menu-container-background: #343434;
    --vs-menu-item-color: #c3c3c3;
    --vs-menu-item-border-color: #5b5b5b;
    --vs-menu-item-actived-background: #000;
    --vs-menu-item-actived-color: #ffd600;

    // variable on the map
    --vs-map-cluster-background: #000;
    --vs-map-marker-description-background: #000;

    // variable on the page home
    --vs-home-top-alarm-background: rgb(69 31 31 / 50%);

    // not classified
    --vs-ai-animation-bg-color: #100e08;
    --vs-animation-container-bg-img: url('../assets/images/dark/animation-bg.svg');
    --vs-animation-longline-bg-img: url('../assets/images/dark/animation-long-line.svg');
    --vs-animation-shortline-bg-img: url('../assets/images/dark/animation-short-line.svg');
    --vs-animation-round-bg-img: url('../assets/images/dark/animation-round.svg');
    --actions-delete-img: url('../../../../assets/vehicle-system/icons/camera-management/camera-delete.png');
    --actions-edit-img: url('../../../../assets/vehicle-system/icons/camera-management/camera-edit.png');
    --actions-start-img: url('../../../../assets/vehicle-system/icons/ai-algorithms/actions-start.png');
    --actions-stop-img: url('../../../../assets/vehicle-system/icons/ai-algorithms/actions-stop.png');
    --actions-details-img: url('../../../../assets/vehicle-system/icons/ai-algorithms/actions-details.png');
    --vs-gpu-lpr-task-close-logo: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/close-red-icon.png');
    --vs-scrollbar-track: #212121;
    --vs-scrollbar-thumb: #a2a2a2;
    --vs-text-color: var(--vs-vehicle-font-color); // the primary color for text
    --vs-text-color-placeholder: rgb(255 255 255 / 35%);
    --vs-title-color: #fff84d;
    --vs-tab-color: rgb(165 156 124 / 70%);
    --vs-tab-actived-color: rgb(255 248 77 / 80%);
    --vs-tab-border-color: rgb(255 248 77 / 40%);
    --vs-label-color: #c3c3c3;
    --vs-sidebar-left-bg-color: #353430;
    --vs-sidebar-right-bg-color: #323232;
    --vs-sidebar-second-bg-color: rgb(31 30 27 / 80%);
    --vs-sidebar-title-color: var(--vs-title-color);
    --vs-sidebar-title-time-color: var(--vs-text-color-regular);
    --vs-vehicle-form-input-background-hover: rgba(102 102 102 / 50%);
    --vs-vehicle-form-input-background-focused: rgba(102 102 102 / 70%);
    --vs-button-reset-text-color: var(--vs-button-text-color-critical);
    --vs-dialog-close-icon-color: #fffdc5;
    --vs-dialog-header-text-color: rgb(255 248 77 / 70%);
    --vs-dialog-header-bottom-border-color: #5b5b5b;
    --vs-dialog-li-bg-color-striped: rgb(104 103 82 / 40%);
    --vs-dialog-li-bg-color-striped-light: rgb(104 103 82 / 20%);
    --vs-dialog-text-color-regular: #cdc9b6;
    --vs-form-text-color-primary: var(--vs-color-secondary);
    --vs-form-text-color-secondary: var(--vs-text-color-regular); // for subtitle, or inactived title
    --vs-myprofile-button-bg-color: var(--vs-color-secondary);
    --vs-car-rental-history-progress-color: rgb(255 248 77 / 40%);
    --vs-car-rental-history-progress-bg-color: #c3c3c3;
    --vs-car-rental-history-border-t-color: var(--vs-border-color);
    --va-car-rental-date-input-bg-color: #414040;
    --va-car-rental-date-input-border-color: #414040;
    --vs-car-rental-history-primary-text-color: var(--vs-text-color);
    --vs-modal-component-bg-color: #212a2d;
    --vs-car-rental-current-vehicle-info-text-color: #ac9133;
    --vs-pagination-control-next-icon: url('../assets/icons/arrow-right-dark.svg');
    --vs-pagination-control-text-color: #9e9800;
    --vs-pagination-control-text-actived-color: #979797;
    --vs-ag-foreground-color: rgb(255 255 255 / 60%);
    --vs-ag-row-even-background-color: rgb(86 77 28 / 30%);
    --vs-ag-odd-row-background-color: rgb(86 77 28 / 60%);
    --vs-ag-header-foreground-color: #cbbf7f;
    --vs-ag-header-background-color: #5b5012;
    --vs-ag-row-hover-color: #686752;
    --vs-ag-selected-row-background-color: #686752;
    --vs-column-panel-text-color: #cbbf7f;
    --vs-column-panel-background-color: #1a1812;
    --vs-column-panel-border-color: #3f391d;
    --vs-column-panel-checkbox-background-color: #3d3d3d;
    --vs-column-panel-checkbox-border-color: #5a5a5a;
    --vs-column-panel-checkbox-checked-color: #979797;
    --vs-column-panel-title-color: var(--vs-text-color-light);
    --vs-column-panel-button-color-from: #026b00;
    --vs-column-panel-button-color-to: #003a17;
    --vs-column-panel-button-text-color: #fff;
    --vs-column-panel-button-cancel-text-color: var(--vs-vehicle-font-color);
    --vs-column-panel-toggle-icon: url('../assets/icons/column-suggestion-dark.svg');
    --vs-traffic-search-advance-border-color: rgb(255 248 77 / 40%);
    --vs-ai-task-create-select-text-color: #d9d9d9;
    --vs-ai-task-create-star-color: #ffd600;
    --vs-ai-task-gpu-task-border-color: #5b5b5b;
    --vs-ai-create-task-btn-color: #009739;
    --vs-watch-task-detail-odd-bg-color: rgb(104 103 82 / 40%);
    --vs-watch-task-detail-even-bg-color: rgb(104 103 82 / 20%);
    --vs-fine-detail-border-left: #fff84d;
    --vs-fine-detail-fine-type-color: var(--vs-title-color);
    --vs-fine-detail-icon-calendar: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/calendar-gray.png');
    --vs-fine-detail-icon-clock: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/clock-gray.png');
    --vs-fine-detail-icon-close: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/icon-close.png');
    --vs-fine-detail-icon-open: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/icon-open.png');
    --vs-ai-select-task-icon-close: url('../../../../assets/vehicle-system/icons/ai-algorithms/close-green-icon.png');
    --vs-ai-select-task-modal-bg: linear-gradient(180deg, #4f4f4f 0%, #3d3d3d 100%);
    --vs-ai-select-task-modal-radius: linear-gradient(180deg, #1e1d1d 0%, #141414 100%);
    --vs-ai-select-task-modal-text-color: #d9d9d9;
    --vs-white-list-task-details-tab-acvive: #fffdd2;
    --vs-white-list-task-details-tab-border: #cac8aa;
    --vs-white-list-task-details-table-bg: #313131;
    --vs-ai-create-task-modal-content-bg: #4d4c4c;
    --vs-datepicker-background-color: #1e1d1d;
    --vs-datepicker-ranges-background-color: #312f2f;
    --vs-datepicker-border-color: #4a4848;
    --vs-datepicker-ranges-bottom-background-color: unset;
    --vs-datepicker-prev-icon: url('../assets/icons/datepicker-prev-dark.svg');
    --vs-datepicker-next-icon: url('../assets/icons/datepicker-next-dark.svg');
    --vs-datepicker-text-active-color: #000;
    --vs-datepicker-text-available-color: #ccc;
    --vs-datepicker-text-available-off-color: rgb(204 204 204 / 40%);
    --vs-datepicker-inrange-background-color: rgb(255 214 0 / 60%);
    --vs-datepicker-date-active-color: var(--vs-color-primary);
    --vs-datepicker-ranges-checked-color: #d9d9d9;
    --vs-datepicker-ranges-check-border-color: #c3c3c3;
    --vs-white-task-detail-red-warn: url('../../../../assets/vehicle-system/icons/ai-algorithms/red-warn.png');
    --vs-white-task-detail-green-position: url('../../../../assets/vehicle-system/icons/ai-algorithms/green-position.png');
    --vs-white-task-detail-yellow-car: url('../../../../assets/vehicle-system/icons/ai-algorithms/yellow-car.png');
    --vs-white-task-detail-watch-car: url('../../../../assets/vehicle-system/icons/ai-algorithms/watch-car.png');
    --vs-fake-plate-btn-bg-color: linear-gradient(53deg, #009739 0%, #beef33 100%);
    --vs-ai-title-color: #fff84d;
    --vs-timeline-node-color: #ffd600;
    --vs-date-input-calendar-icon: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/grey-calendar.png');
    --vs-vp-list-st-text-color: #fff;
    --vs-vp-list-active-item-bg-color: #3f4943;
    --vs-vp-list-details-bg-color: rgb(31 30 27 / 80%);
    --vs-vp-list-details-text-color: #fff;
    --vs-vp-timeline-bg-color: rgb(22 21 19 / 90%);
    --vs-vp-timeline-layer-bg-color: #000;
    --vs-vp-timeline-layer-text-color: #c3c3c3;
    --vs-vp-timeline-layer-card-text-color: #cdc9b6;
    --vs-vp-details-vector-bg: url('../assets/icons/vp-vector-dark.png');
    --vs-vp-details-layer-desc-bg-color: #000;
    --vs-vp-timeline-layer-desc-text-color: #c3c3c3;
    --vs-fake-plate-layer-number-color: #3b3b3b;
    --vs-vp-timeline-close-icon: url('../assets/icons/icon-close-dark.png');
    --vs-vp-timeline-open-icon: url('../assets/icons/icon-open-dark.png');
    --vs-vp-timeline-calendar-icon: url('../assets/icons/icon-calendar-dark.png');
    --vs-vp-timeline-clock-icon: url('../assets/icons/icon-clock-dark.svg');
    --vs-vp-timeline-layer-btn-secondary-bg-color: linear-gradient(53deg, #e71d36 0%, #efa433 100%);
    --vs-chart-preview-bg-color: #1f1f1f;
    --vs-chart-preview-text-color: #fff84d;
    --vs-map-alert-detail-text-color: #cdc9b6;
    --vs-map-alert-detail-bg-color: #212a2d;
    --vs-map-alert-detail-tab-color: #a4acaf;
    --vs-map-alert-detail-tab-actived-color: #ffd600;
    --vs-map-alert-detail-even-item-bg: rgb(104 103 82 / 20%);
    --vs-map-alert-detail-odd-item-bg: rgb(104 103 82 / 40%);
    --vs-map-alert-detail-item-color: #cdc9b6;
    --vs-map-alert-search-bg: #1f1f1f;
    --vs-fake-plate-layer-number-bold-color: #fff;
    --vs-tips-icon: url('../../../../assets/vehicle-system/icons/tips-dark.png');
    --vs-white-task-details-text-color: #9d9b8b;
    --vs-white-task-details-tab-text: #a59c7c;
    --vs-progress-line-bg-color: #575757;
    --vs-progress-line-completed-color: #61ff00;
    --vs-progress-line-unmachined-color: #ffd600;
    --vs-map-point-description-bg: rgb(35 34 34 / 90%);
    --vs-fake-plate-layer-title-color: #fff84d;
    --vs-fake-plate-layer-border-color: #000;
    --vs-fake-plate-layer-button-bg-color: none;
    --vs-ng-select-disabled-bg-color: #2a2a28;
    --vs-fine-details-small-title: #c3c3c3;
    --vs-fine-details-border-color: rgb(195 195 195 / 40%);
    --vs-toolbox-border: 1px solid #5b5b5b;
    --vs-toolbox-bg-color: linear-gradient(180deg, #4f4f4f 0%, #3d3d3d 100%);
    --vs-toolbox-group-border: 0.5px solid #575757;
    --vs-toolbox-group-bg-color: linear-gradient(180deg, #363636 0%, #232323 100%);
    --vs-toolbox-group-item-bg-color: linear-gradient(180deg, #1e1d1d 0%, #141414 100%);
    --vs-toolbox-group-item-hover-bg-color: linear-gradient(180deg, #1e1d1d 0%, #141414 100%);
    --vs-toolbox-group-item-hover-border-color: #454545;
    --vs-toolbox-map-item-bg-color: linear-gradient(180deg, #989898 0%, rgb(131 131 131 / 35%) 100%);
    --vs-toolbox-title-color: #b2b2b2;
    --vs-toolbox-item-category-color: var(--vs-text-color-regular);
    --vs-toolbox-item-value-color: var(--vs-text-color-regular);
    --vs-toolbox-item-arrow-color: var(--vs-device-tree-icon-color);
    --vs-site-tree-color: #c3c3c3;
    --vs-site-tree-background: var(--vs-toolbox-bg-color);
    --vs-site-tree-content-background: linear-gradient(180deg, #1e1d1d 0%, #141414 100%);
    --vs-site-tree-group-background: #000;
    --vs-device-tree-dialog-border: 0.7rem solid #5b5b5b;
    --vs-device-tree-dialog-bg-color: linear-gradient(180deg, #1e1d1d 0%, #141414 100%);
    --vs-device-tree-input-bg-color: #333;
    --vs-device-tree-button-text-color: #b2b2b2;
    --vs-device-tree-button-reset-border: 1px solid #026b00;
    --vs-device-tree-button-confirm-bg-color: linear-gradient(180deg, #026b00 0%, #003a17 100%);
    --vs-device-tree-list-dash-border-color: var(--vs-text-color-regular);
    --vs-device-tree-node-color: #009739;
    --vs-device-tree-icon-color: #009739;
    --vs-device-tree-node-arrow-color: #009739;
    --vs-device-tree-node-color-actived: #00e29d;
    --vs-device-tree-city-node-color: #d9d9d9;
    --vs-device-tree-site-node-color: #dfdfdf;
    --vs-device-tree-camera-node-color: #6c7b71;
    --vs-device-tree-panel-checkbox-label-color: var(--vs-text-color-regular);
    --vs-device-tree-search-icon-color: var(--vs-text-color-regular);
    --vs-home-line-echarts-bgc: #000;
    --vs-input-arrow-color: #5b5b5b;
    --vs-rental-title-color: #efca45;
    --vs-loction-input-color: #979797;
    --vs-select-site-color: #979797;
  }

  :root[data-theme='light'] {
    // variable on the global
    --vs-vehicle-font-color: #5b5845;
    --vs-vehicle-search-background: #afaea5;
    --vs-vehicle-content-background: #d6d6d6;
    --vs-vehicle-main-title-color: #282828;
    --vs-vehicle-sub-title-color: #64625b;
    --vs-vehicle-form-placeholder-color: rgb(250 250 250 / 40%);
    --vs-vehicle-form-value-color: rgb(250 250 250 / 90%);
    --vs-vehicle-form-input-background: #64625b;
    --vs-vehicle-form-input-disabled-background: #898880;
    --vs-vehicle-form-input-border-color: #666;
    --vs-vehicle-form-input-arrowicon-background: rgb(250 250 250 / 60%);

    // variable on the menu
    --vs-menu-home-icon: url('../assets/icons/menu-home-light.svg');
    --vs-menu-trafficsearch-icon: url('../assets/icons/menu-traffic-search-light.svg');
    --vs-menu-alert-icon: url('../assets/icons/menu-alert-light.svg');
    --vs-menu-aialgorithm-icon: url('../assets/icons/menu-ai-light.svg');
    --vs-menu-task-icon: url('../assets/icons/menu-task-light.svg');
    --vs-menu-trafficfine-icon: url('../assets/icons/menu-traffic-fine-light.svg');
    --vs-menu-vehicleprofile-icon: url('../assets/icons/menu-vehicle-light.svg');
    --vs-menu-rental-icon: url('../assets/icons/menu-rental-light.svg');
    --vs-menu-index-icon: url('../assets/icons/menu-index-light.svg');
    --vs-menu-logout-icon: url('../assets/icons/menu-logout-light.svg');
    --vs-menu-profile-icon: url('../assets/icons/menu-profile-light.svg');
    --vs-menu-settings-icon: url('../assets/icons/menu-settings-light.svg');
    --vs-menu-container-background: #c7c3b4;
    --vs-menu-item-color: #5b5845;
    --vs-menu-item-border-color: #b2b2b2;
    --vs-menu-item-actived-background: #54513f;
    --vs-menu-item-actived-color: #ffd600;

    // variable on the map
    --vs-map-cluster-background: #5f5c4e;
    --vs-map-marker-description-background: #5f5c4e;

    // variable on the page home
    --vs-home-top-alarm-background: rgb(84 81 63 / 50%);

    // not classified
    --close-logo: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/close-button-dark.png');
    --full-screen-image-close: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/close-botton.png');
    --vs-ai-animation-bg-color: #dddccf;
    --vs-animation-container-bg-img: url('../assets/images/dark/animation-bg.svg');
    --vs-animation-longline-bg-img: url('../assets/images/dark/animation-long-line.svg');
    --vs-animation-shortline-bg-img: url('../assets/images/dark/animation-short-line.svg');
    --vs-animation-round-bg-img: url('../assets/images/dark/animation-round.svg');
    --actions-delete-img: url('../../../../assets/vehicle-system/icons/ai-algorithms/light-actions-delete.png');
    --vs-gpu-lpr-task-close-logo: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/close-red-icon.png');
    --actions-edit-img: url('../../../../assets/vehicle-system/icons/ai-algorithms/light-actions-edit.png');
    --actions-start-img: url('../../../../assets/vehicle-system/icons/ai-algorithms/light-actions-start.png');
    --actions-stop-img: url('../../../../assets/vehicle-system/icons/ai-algorithms/light-actions-stop.png');
    --actions-details-img: url('../../../../assets/vehicle-system/icons/ai-algorithms/actions-details.png');
    --vs-scrollbar-track: rgb(0 0 0 / 15%);
    --vs-scrollbar-thumb: rgb(0 0 0 / 60%);
    --vs-text-color: #000;
    --vs-text-color-placeholder: rgb(255 255 255 / 60%);
    --vs-fill-color: #fff;
    --vs-title-color: #282828;
    --vs-tab-color: rgb(91 88 69 / 50%);
    --vs-tab-actived-color: #5b5845;
    --vs-tab-border-color: rgb(70 69 43 / 60%);
    --vs-label-color: #646464;
    --vs-sidebar-left-bg-color: #afaea5;
    --vs-sidebar-right-bg-color: #eae7dd;
    --vs-sidebar-second-bg-color: rgb(141 140 125 / 80%);
    --vs-sidebar-title-color: #fff84d;
    --vs-sidebar-title-time-color: var(--vs-title-color);
    --vs-vehicle-form-input-background-hover: rgb(255 255 255 / 10%);
    --vs-vehicle-form-input-background-focused: rgb(255 255 255 / 20%);
    --vs-button-reset-text-color: #fff;
    --vs-dialog-close-icon-color: #fffdc5;
    --vs-dialog-header-text-color: rgb(129 109 6 / 70%);
    --vs-dialog-header-bottom-border-color: #5b5b5b;
    --vs-dialog-li-bg-color-striped: rgb(86 77 28 / 30%);
    --vs-dialog-li-bg-color-striped-light: rgb(86 77 28 / 15%);
    --vs-dialog-text-color-regular: var(--vs-vehicle-font-color);
    --vs-form-text-color-primary: #bf8618;
    --vs-form-text-color-secondary: #363636;
    --vs-car-rental-history-border-t-color: #545454;
    --vs-car-rental-history-progress-color: rgb(255 168 0 / 60%);
    --vs-car-rental-history-progress-bg-color: #545454;
    --va-car-rental-date-input-bg-color: #ebebeb;
    --va-car-rental-date-input-border-color: #666;
    --vs-car-rental-history-primary-text-color: #202020;
    --vs-modal-component-bg-color: #fff;
    --vs-car-rental-current-vehicle-info-text-color: #f00;
    --vs-pagination-control-next-icon: url('../assets/icons/arrow-right-light.svg');
    --vs-pagination-control-text-color: #383826;
    --vs-pagination-control-text-actived-color: #727272;
    --vs-ag-foreground-color: rgb(0 0 0 / 60%);
    --vs-ag-row-even-background-color: rgb(86 77 28 / 30%);
    --vs-ag-odd-row-background-color: rgb(86 77 28 / 60%);
    --vs-ag-header-foreground-color: #cbbf7f;
    --vs-ag-header-background-color: #675a16;
    --vs-ag-row-hover-color: #635b2e;
    --vs-ag-selected-row-background-color: rgb(86 77 28 / 50%);
    --vs-column-panel-text-color: #50504f;
    --vs-column-panel-background-color: #afaea5;
    --vs-column-panel-border-color: #727067;
    --vs-column-panel-checkbox-background-color: #3d3d3d;
    --vs-column-panel-checkbox-border-color: #5a5a5a;
    --vs-column-panel-checkbox-checked-color: #979797;
    --vs-column-panel-title-color: #000;
    --vs-column-panel-button-color-from: #00ff47;
    --vs-column-panel-button-color-to: #006127;
    --vs-column-panel-button-text-color: rgb(255 255 255 / 80%);
    --vs-column-panel-button-cancel-text-color: var(--vs-vehicle-font-color);
    --vs-column-panel-toggle-icon: url('../assets/icons/column-suggestion-light.svg');
    --vs-ai-index-bg-color: #e5ebee;
    --vs-traffic-search-advance-border-color: rgb(129 109 6 / 40%);
    --vs-ai-task-create-select-text-color: #888;
    --vs-ai-task-create-star-color: #e89b2f;
    --vs-ai-task-gpu-task-name-color: #000;
    --vs-ai-task-gpu-task-border-color: #ccc;
    --vs-ai-create-task-btn-color: #816d06;
    --vs-watch-task-detail-odd-bg-color: rgb(86 77 28 / 15%);
    --vs-watch-task-detail-even-bg-color: rgb(86 77 28 / 30%);
    --vs-fine-detail-border-left: var(--vs-title-color);
    --vs-fine-detail-fine-type-color: #ff5c00;
    --vs-fine-detail-icon-calendar: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/light-icon-calendar.png');
    --vs-fine-detail-icon-clock: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/light-icon-clock.png');
    --vs-fine-detail-icon-close: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/light-icon-close.png');
    --vs-fine-detail-icon-open: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/light-icon-open.png');
    --vs-ai-select-task-icon-close: url('../../../../assets/vehicle-system/icons/traffic-fine-icon/close-light-icon.png');
    --vs-ai-select-task-modal-bg: linear-gradient(180deg, #e3e1d3 0%, #8b897c 100%);
    --vs-ai-select-task-modal-radius: linear-gradient(180deg, #9a9684 0%, #5f5c4e 100%);
    --vs-ai-select-task-modal-text-color: #242222;
    --vs-datepicker-background-color: #64625b;
    --vs-datepicker-ranges-background-color: #726f68;
    --vs-datepicker-border-color: #a8a7a4;
    --vs-datepicker-ranges-bottom-background-color: #726f68;
    --vs-datepicker-prev-icon: url('../assets/icons/datepicker-prev-dark.svg');
    --vs-datepicker-next-icon: url('../assets/icons/datepicker-next-dark.svg');
    --vs-datepicker-text-active-color: #000;
    --vs-datepicker-text-available-color: #ccc;
    --vs-datepicker-text-available-off-color: rgb(204 204 204 / 60%);
    --vs-datepicker-inrange-background-color: rgb(255 214 0 / 80%);
    --vs-datepicker-date-active-color: #ffd600;
    --vs-datepicker-ranges-checked-color: #d9d9d9;
    --vs-datepicker-ranges-check-border-color: #c3c3c3;
    --vs-white-list-task-details-tab: #816d06;
    --vs-white-list-task-details-tab-acvive: #a59c7c;
    --vs-white-list-task-details-tab-border: #cac8aa;
    --vs-white-list-task-details-table-bg: #fff;
    --vs-ai-create-task-modal-content-bg: #f5f5f5;
    --vs-white-task-detail-red-warn: url('../../../../assets/vehicle-system/icons/ai-algorithms/red-warn.png');
    --vs-white-task-detail-green-position: url('../../../../assets/vehicle-system/icons/ai-algorithms/green-position.png');
    --vs-white-task-detail-yellow-car: url('../../../../assets/vehicle-system/icons/ai-algorithms/yellow-car.png');
    --vs-white-task-detail-watch-car: url('../../../../assets/vehicle-system/icons/ai-algorithms/watch-car.png');
    --vs-fake-plate-btn-bg-color: #e5ebee;
    --vs-ai-title-color: #000;
    --vs-timeline-node-color: #ffd600;
    --vs-traffic-search-statistics-text-color: #5a5702;
    --vs-vp-list-st-text-color: #fff;
    --vs-vp-list-active-item-bg-color: #646765;
    --vs-vp-list-details-text-color: #fff;
    --vs-vp-timeline-bg-color: rgb(109 108 95 / 90%);
    --vs-vp-timeline-layer-bg-color: #fff;
    --vs-vp-timeline-layer-text-color: #202020;
    --vs-vp-timeline-layer-card-text-color: #000;
    --vs-vp-details-vector-bg: url('../assets/icons/vp-vector-light.png');
    --vs-vp-details-layer-desc-bg-color: #fff;
    --vs-vp-timeline-layer-desc-text-color: #000;
    --vs-fake-plate-layer-number-color: #000;
    --vs-vp-timeline-close-icon: url('../assets/icons/icon-close-light.svg');
    --vs-vp-timeline-open-icon: url('../assets/icons/icon-open-light.svg');
    --vs-vp-timeline-calendar-icon: url('../assets/icons/icon-calendar-light.svg');
    --vs-vp-timeline-clock-icon: url('../assets/icons/icon-clock-light.svg');
    --vs-vp-timeline-layer-btn-secondary-bg-color: linear-gradient(53deg, #e71d36 0%, #efa433 100%);
    --vs-chart-preview-bg-color: #eae7dd;
    --vs-chart-preview-text-color: #363525;
    --vs-map-alert-detail-text-color: #000;
    --vs-map-alert-detail-bg-color: #e0ddd0;
    --vs-map-alert-detail-tab-color: #202020;
    --vs-map-alert-detail-tab-actived-color: #816d06;
    --vs-map-alert-detail-even-item-bg: #e3e1da;
    --vs-map-alert-detail-odd-item-bg: #c9c7b8;
    --vs-map-alert-detail-item-color: #000;
    --vs-map-alert-search-bg: #d6d6d6;
    --vs-fake-plate-layer-number-bold-color: #000;
    --vs-tips-icon: url('../../../../assets/vehicle-system/icons/tips-light.png');
    --vs-white-task-details-text-color: #000;
    --vs-white-task-details-tab-text: #202020;
    --vs-progress-line-bg-color: #575757;
    --vs-progress-line-completed-color: #61ff00;
    --vs-progress-line-unmachined-color: #ffd600;
    --vs-map-point-description-bg: rgb(255 255 255 / 90%);
    --vs-fake-plate-layer-title-color: #816d06;
    --vs-fake-plate-layer-border-color: #202020;
    --vs-ng-select-disabled-bg-color: rgb(100 98 91 / 60%);
    --vs-date-input-calendar-icon: url('../../../../assets/vehicle-system/icons/calendar-light.png');
    --vs-fine-details-small-title: #816d06;
    --vs-fine-details-border-color: rgb(129 109 6 / 40%);
    --vs-toolbox-border: 1px solid #5b5b5b;
    --vs-toolbox-bg-color: linear-gradient(180deg, #e3e1d3 0%, #8b897c 100%);
    --vs-toolbox-group-border: 0.5px solid #575757;
    --vs-toolbox-group-bg-color: linear-gradient(180deg, #c8c3b0 0%, #716f65 100%);
    --vs-toolbox-group-item-bg-color: linear-gradient(180deg, #9a9684 0%, #5f5c4e 100%);
    --vs-toolbox-group-item-hover-bg-color: #5f5c4e;
    --vs-toolbox-group-item-hover-border-color: transparent;
    --vs-toolbox-map-item-bg-color: linear-gradient(180deg, #9a9684 0%, #5f5c4e 100%);
    --vs-toolbox-title-color: rgb(34 34 34 / 70%);
    --vs-toolbox-item-category-color: rgb(34 34 34 / 70%);
    --vs-toolbox-item-value-color: #242222;
    --vs-toolbox-item-arrow-color: #fff84d;
    --vs-site-tree-color: #dddbd5;
    --vs-site-tree-background: var(--vs-toolbox-bg-color);
    --vs-site-tree-content-background: linear-gradient(180deg, #9a9684 0%, #5f5c4e 100%);
    --vs-site-tree-group-background: #5f5c4e;
    --vs-device-tree-dialog-border: 0.7rem solid #e3e1d3;
    --vs-device-tree-dialog-bg-color: linear-gradient(180deg, #9a9684 0%, #5f5c4e 100%);
    --vs-device-tree-input-bg-color: #64625b;
    --vs-device-tree-button-text-color: #b2b2b2;
    --vs-device-tree-button-reset-border: 1px solid #026b00;
    --vs-device-tree-button-confirm-bg-color: linear-gradient(180deg, #026b00 0%, #003a17 100%);
    --vs-device-tree-list-dash-border-color: #242222;
    --vs-device-tree-node-color: rgb(221 219 213 / 60%);
    --vs-device-tree-icon-color: #009739;
    --vs-device-tree-node-arrow-color: #dddbd5;
    --vs-device-tree-node-color-actived: #d9d9d9;
    --vs-device-tree-city-node-color: #4a4848;
    --vs-device-tree-site-node-color: #dfdfdf;
    --vs-device-tree-camera-node-color: #dfdfdf;
    --vs-device-tree-panel-checkbox-label-color: rgb(236 236 236 / 56%);
    --vs-device-tree-search-icon-color: #fff;
    --vs-home-line-echarts-bgc: #ccc9bb;
    --vs-input-arrow-color: rgb(255 255 255 / 70%);
    --vs-rental-title-color: #64625b;
    --vs-loction-input-color: #fff;
    --vs-select-site-color: #242222;
  }
}
