<section aria-hidden="true">
  <div class="modal-bg" *ngIf="isShowDetails" (click)="closeDetail(); $event.stopPropagation()"></div>
  <div
    *ngIf="isShowDetails"
    class="camera-details-container right"
    [@slideTrigger]="{value: ':enter', params: {tx: slideX}}"
    (click)="$event.stopPropagation()"
    [ngClass]="[language]">
    <span class="close-search" (click)="closeDetail()"></span>
    <div class="detail-tabs">
      <span
        class="tab"
        (click)="setDetailTab('camera-information')"
        [class]="{'actived': activeDetailTab === 'camera-information'}">
        {{language === 'ar' ? 'معلومات الكاميرا' : 'Camera Information'}}
      </span>
      <span
        class="tab"
        (click)="setDetailTab('latest-capture')"
        [class]="{'actived': activeDetailTab === 'latest-capture'}">
      {{language === 'ar' ? 'آخر التقاط' : 'Latest Capture'}}
      </span>
    </div>

    <div class="camera-information" *ngIf="activeDetailTab === 'camera-information'">
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'اسم الكاميرا' : 'Camera name'}} :
        </span>
        <span class="value" [title]="cameraInfo?.cameraName">{{cameraInfo?.cameraName}}</span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'هوية الكاميرا' : 'Camera ID'}} :
        </span>
        <span class="value">{{cameraInfo?.cameraCode}}</span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'نقطة الاتصال' : 'Logitude'}} :
        </span>
        <span class="value">{{cameraInfo?.longitude}}</span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'خط العرض' : 'Latitude'}} :
        </span>
        <span class="value">{{cameraInfo?.latitude}}</span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'ينتمي إلى الموقع' : 'Belong Site'}} :
        </span>
        <span class="value">{{cameraInfo?.siteName}}</span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'حالة الكاميرا' : 'Camera Status'}} :
        </span>
        <span class="value">{{cameraInfo?.cameraStatus}}</span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'الكاميرا المصدر' : 'Camera Source'}} :
        </span>
        <span class="value">{{cameraSourceMap && cameraSourceMap[cameraInfo?.cameraSource || '']}}</span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'بروتوكول الإنترنت للكاميرا' : 'Camera IP'}} :
        </span>
        <span class="value">{{cameraInfo?.ipv4 || ''}}</span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'كاميرا RTSP' : 'Camera RTSP'}} :
        </span>
        <span class="value">{{cameraInfo?.streamURL || ''}}</span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'مهمة  GPU LPR' : 'GPU LPR Task'}} :
        </span>
        <span class="value">{{isGpuAnalysisMap[(cameraInfo?.isGpuAnalysis || '0') + language]}}</span>
      </p>
    </div>

    <div class="latest-capture" *ngIf="activeDetailTab === 'latest-capture'">
      <div class="device-video">
        <!-- <div class="play-video-btn" (click)="playLiveVideo()">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path d="M29.007 3.58301H13.9928C7.47117 3.58301 3.58325 7.47092 3.58325 13.9926V28.9888C3.58325 35.5284 7.47117 39.4163 13.9928 39.4163H28.9891C35.5107 39.4163 39.3987 35.5284 39.3987 29.0068V13.9926C39.4166 7.47092 35.5287 3.58301 29.007 3.58301Z" fill="#FFD600"/>
            <path d="M16.3035 21.5004V18.8488C16.3035 15.4267 18.7222 14.0471 21.6784 15.7492L23.9718 17.075L26.2651 18.4008C29.2214 20.1029 29.2214 22.8979 26.2651 24.6L23.9718 25.9258L21.6784 27.2517C18.7222 28.9538 16.3035 27.5563 16.3035 24.1521V21.5004Z" fill="#292D32"/>
          </svg>
          <span>{{language === 'ar' ? 'بث مباشر' : 'Live Stream'}}</span>
        </div> -->
        <vs-video-player
          class="w-full h-full"
          *ngIf="isPlayVideo"
          [options]="{sources: [{type: 'application/x-mpegURL', src: m3u8Video, loop: false}]}"
        ></vs-video-player>
        <img *ngIf="!isPlayVideo" class="cursor-pointer" (click)="checkBigImage(latestCapture.captureImageUrl)"  [src]="latestCapture.captureImageUrl" alt="">
      </div>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'الوقت والتاريخ' : 'Capture Time & Date'}} :
        </span>
        <span class="value">{{latestCapture.captureTime | date: 'MMM d, YYYY h:mm a'}}</span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'نوع المركبة' : 'Vehicle Make'}} :
        </span>
        <span class="value">
          {{vehicleBrandTypeMap ? (vehicleBrandTypeMap[latestCapture.vehicleMake] || latestCapture.vehicleMake) : latestCapture.vehicleMake}}
        </span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'لون اللوحة' : 'Plate Color'}} :
        </span>
        <span class="value">
          {{plateColorMap ? (plateColorMap[latestCapture.plateColor] || latestCapture.plateColor) : latestCapture.plateColor}}
        </span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'سرعة المركبة' : 'Vehicle Speed'}} :
        </span>
        <span class="value">{{latestCapture.vehicleSpeed}}</span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'فئة المركبة' : 'Vehicle Model'}} :
        </span>
        <span class="value">
          {{latestCapture.vehicleModel}}
        </span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'موديل المركبة' : 'Vehicle Color'}} :
        </span>
        <span class="value">
          {{vehicleColorMap ? (vehicleColorMap[latestCapture.vehicleColor] || latestCapture.vehicleColor) : latestCapture.vehicleColor}}
        </span>
      </p>
      <p class="detail-item">
        <span class="label">
          {{language === 'ar' ? 'البلد' : 'Country'}} :
        </span>
        <span class="value">{{latestCapture.country}}</span>
      </p>
    </div>
  </div>

  <div class="big-vehicle-image-bg" *ngIf="isShowBigImg">
    <div class="big-img-container">
      <span class="close-big-img" (click)="isShowBigImg=false;"></span>
      <img [src]="bigImageUrl" alt="">
    </div>
  </div>
</section>
