.modal-bg {
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}

.camera-details-container {
  position: fixed;
  z-index: 9996;
  width: 42rem;
  height: 100%;
  border-radius: 6px;
  background: var(--vs-sidebar-right-bg-color);
  color: var(--vs-map-alert-detail-text-color);
  pointer-events: auto;

  &.right {
    top: 0;
    right: 0;
    bottom: 0;
  }

  &.en {
    .close-search {
      position: absolute;
      z-index: 9999;
      top: 1.2rem;
      right: 0.8rem;
      width: 1.8rem;
      height: 1.8rem;
      background: var(--close-logo) no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }

  &.ar {
    .close-search {
      position: absolute;
      z-index: 9999;
      top: 1.2rem;
      left: 0.8rem;
      width: 1.8rem;
      height: 1.8rem;
      background: var(--close-logo) no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }

  .detail-tabs {
    position: relative;
    z-index: 9998;
    display: flex;
    padding: 2rem 2rem 0;
    border-bottom: 2px solid #66757a;
    color: var(--vs-map-alert-detail-tab-color);
    font-size: 2rem;
    font-weight: 500;

    .tab {
      position: relative;
      bottom: -2px;
      width: max-content;
      height: 100%;
      padding-bottom: 0.5rem;
      border-bottom: 4px solid transparent;
      cursor: pointer;
      text-align: center;

      &.actived {
        border-color: var(--vs-map-alert-detail-tab-actived-color);
        color: var(--vs-map-alert-detail-tab-actived-color);
      }
    }

    .tab + .tab {
      margin: 0 2.5rem;
    }
  }

  .latest-capture,
  .camera-information {
    display: flex;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
    flex-direction: column;
    padding: 1rem 2rem;
  }

  .device-video {
    position: relative;
    display: flex;
    width: 100%;
    height: 20rem;
    box-sizing: border-box;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .play-video-btn {
      position: absolute;
      z-index: 9;
      right: 10px;
      bottom: 10px;
      width: 104px;
      height: 38px;
      box-sizing: border-box;
      padding-right: 12px;
      background-image: url('../../assets/icons/live-stream-bg.svg');
      background-size: cover;
      color: #ffd600;
      cursor: pointer;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      line-height: 36px;
      text-align: right;

      & > svg {
        position: absolute;
        bottom: 2px;
        left: -20px;
      }
    }
  }

  .detail-item {
    display: flex;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    align-items: center;
    padding: 0 2rem;
    margin-top: 4px;

    &:nth-of-type(even) {
      background: var(--vs-map-alert-detail-even-item-bg);
    }

    &:nth-of-type(odd) {
      background: var(--vs-map-alert-detail-odd-item-bg);
    }

    .label {
      width: 13rem;
    }

    .value {
      overflow: hidden;
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.big-vehicle-image-bg {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-color: rgb(0 0 0 / 60%);

  .big-img-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .close-big-img {
      position: absolute;
      z-index: 10;
      top: 0;
      right: 2rem;
      width: 2.5rem;
      height: 2.5rem;
      background: var(--full-screen-image-close) no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
}
