<div aria-hidden="true" class="geofence-task-search-form" *transloco="let tl; read: 'vs.aiAlgorithm'">
  <div class="form">
    <input
      type="text"
      class="task-name-input vehicle-input ltr:mr-2 rtl:ml-2"
      [placeholder]="tl('searchByTaskName')"
      [(ngModel)]="taskName"
      (keydown.enter)="searchClick()"
    />
    <div class="date-input ltr:mr-2 rtl:ml-2">
      <vs-vehicle-date-input
        [dateSelectRestrict]="'noRestrict'"
        [selected]="selected"
        [position]="language === 'ar' ? 'bottom-left' : 'bottom-right'"
        (selectedDateEmit)="selectedDateFn($event)"
      ></vs-vehicle-date-input>
    </div>
    <button class="search-btn public-search-btn" (click)="searchClick()">{{tl('search')}}</button>
  </div>
    <div
      vsAccessControlDirective
      [accessParams]="allResourceList.GeofenceCreateTask"
      class="public-create-task-btn"
      (click)="createNewTask()"
    >
      <div class="">{{tl('createNewTask')}}</div>
      <div class="icon ltr:ml-2 rtl:mr-2"></div>
  </div>
</div>
