<div class="geofence-task-page flex flex-col w-full h-[100%]" *transloco="let tl; read: 'vs.aiAlgorithm'">
  <div class="flex-none geofence-task-search-form">
    <vs-geofence-task-search-form
      (createNewTaskEmit)="createNewTaskEmit()"
      (searchClickEmit)="searchClickEmit($event)"
      (selectedDateFnEmit)="selectedDateFnEmit($event)"
    ></vs-geofence-task-search-form>
  </div>

  <div class="data-total text-[var(--vs-text-color-regular)]">
    {{dataTotal.toLocaleString()}} {{tl('tasksInTotal')}}
  </div>

  <div class="flex-1 px-[2rem] load-container">
    <ngx-ui-loader [loaderId]="'task-loader'"></ngx-ui-loader>
    <vs-pagination-grid
      [id]="'geofenceTaskPage'"
      [itemsPerPage]="pageSize"
      [columnDefs]="tableColumnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="geofenceListTaskData"
      [totalItems]="dataTotal"
      [currentPage]="pageNo"
      (totalChange)="dataTotal = $event"
      (rowClicked)="onRowClicked($event)"
      (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)"
      (cellOperated)="onCellOperated($event)"
      (switchchanged)="onSwitchChange($event)"
    ></vs-pagination-grid>
  </div>
</div>

<vs-shared-task-modal
  [isShow]="isShowCreateModal"
  [taskOrDetails]="taskOrDetails"
  [addOrEdit]="addOrEdit"
  [taskChannel]="geofenceList"
  [editModalDate]="editModalDate"
  (closeModalEvent)="closeModalEvent()"
  (saveSucEmit)="saveSucEvent($event)">
  <vs-geofence-task-detail
    publicModalContent
    [detailData]="detailData"
  ></vs-geofence-task-detail>
</vs-shared-task-modal>
