.vehicle-profile-list {
  box-sizing: border-box;
  padding: 0 2rem;
  margin-top: 1rem;

  .no-data-title {
    position: relative;
    top: 10rem;
    font-size: 1.6rem;
  }

  .vehicle-profile-item {
    position: relative;
    width: 100%;
    height: max-content;
    padding: 1rem 1.7rem;
    border: 0.2rem solid transparent;
    margin-bottom: 0.6rem;
    cursor: pointer;

    .thumbnail {
      position: absolute;
    }

    .item-content {
      position: relative;
      padding: 0 0.9rem;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 0.1rem;
        height: 100%;
        border-radius: 0.6rem;
        background: var(--vs-timeline-node-color);
        content: '';
      }
    }
  }

  .vehicle-profile-item.active-item {
    box-sizing: border-box;
    border: 0.2rem solid #009739;
    border-radius: 0.6rem;
    background: var(--vs-vp-list-active-item-bg-color);
  }
}
