.search-conditions {
  display: flex;
  width: 100%;
  height: max-content;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 1.5rem 2rem 0;
  color: var(--vs-vehicle-font-color);

  .flex-row {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    .pos-right {
      right: 0.6rem;
    }

    .pos-left {
      left: 0.6rem;
    }

    .add-icon {
      position: absolute;
      z-index: 10;
      bottom: 50%;
      width: 1.2rem;
      height: 1.2rem;
      background: url('../../../../../../../assets/vehicle-system/icons/add.png') no-repeat;
      background-size: 1.2rem 1.2rem;
      pointer-events: none;
      transform: translate(0, 50%);
    }

    .region,
    .plate-color {
      width: 29rem;
    }

    .plate-condition {
      display: flex;
      width: 29rem;
      align-items: center;
      margin-right: 1rem;
      margin-left: 1rem;

      .category {
        width: 9rem;
      }

      .exact-num {
        width: 6.5rem;
        margin: 0 0.4rem;

        ::ng-deep .ng-clear-wrapper {
          display: none;
        }
      }

      .plate {
        flex: 1;
      }
    }

    .site-tree {
      position: relative;
      display: flex;
      width: 29rem;
      box-sizing: border-box;
      align-items: center;
      line-height: 1.8rem;

      ::ng-deep .ng-select {
        width: 100%;

        .ng-select-container {
          .ng-value-container {
            overflow: auto;
            max-height: 8rem;

            &::-webkit-scrollbar {
              display: none;
            }

            .ng-value {
              display: flex;
              align-items: center;

              .ng-value-label {
                overflow: hidden;
                max-width: 18rem;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }

      ::ng-deep .ng-select .ng-dropdown-panel {
        display: none;
      }

      ::ng-deep .ng-arrow-wrapper {
        opacity: 0;
      }
    }

    & > .vehicle-date {
      position: relative;
      width: 29rem;
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 1.5rem;

  .result-btns {
    display: flex;
    height: max-content;

    .btn-item {
      display: flex;
      height: 3.4rem;
      align-items: center;
      padding: 1.2rem;
      border: 1px solid #009739;
      border-radius: 4px;
      margin-left: 0.7rem;
      font-size: 1.2rem;

      &.add {
        color: #009739;
      }

      // &:hover,
      // &:active {
      //   color: #009739;
      // }
    }
  }

  .search-btns {
    .secondary-btn {
      margin: 0 0.7rem;
    }
  }
}

.search-results {
  display: flex;
  width: 100%;
  height: 1px;
  box-sizing: border-box;
  flex: 1;
  flex-direction: column;
  padding: 0.5rem 2rem 0;
  border-top: 1px solid var(--vs-tab-border-color);

  .load-container {
    position: relative;
    height: 1px;
    flex: 1;

    .pagination-grid-options {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.4rem;

      .total-num {
        color: #858467;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .right-btns {
        display: inline-flex;
        align-items: center;
      }
    }

    .result-render {
      width: 100%;
      height: calc(100% - 11rem);
      box-sizing: border-box;

      .result-img-list {
        overflow: auto;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid red;

        .result-item {
          display: inline-block;
          width: 15rem;
          height: 15rem;
          box-sizing: border-box;
          border: 1px solid red;
          margin-right: 1.6rem;

          &:nth-of-type(3) {
            margin-right: 0;
          }
        }
      }
    }
  }
}
