.vp-detail {
  position: relative;
  z-index: 11;
  display: flex;
  overflow: auto;
  width: 25rem;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  padding-left: 2rem;
  pointer-events: auto;

  .detail-item,
  .last-item {
    width: 23rem;
    margin-top: 2rem;
    font-size: 1.2rem;

    .item-title {
      color: var(--vs-timeline-node-color);
      font-size: 1.2rem;
      font-weight: 700;
    }

    .item-content {
      position: relative;
      padding: 0 1.5rem;
      margin-top: 0.2rem;

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 0.1rem;
        height: 100%;
        border-radius: 0.6rem;
        background: var(--vs-timeline-node-color);
        content: '';
      }

      .content-child {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.6rem;
      }
    }
  }

  .detail-item {
    &:first-child {
      margin-top: 1.4rem;
    }
  }

  .last-item {
    display: flex;
    flex-direction: row;

    .yellow-car {
      background: url('../../../../assets/icons/menu-vehicle-actived.svg') no-repeat center;
      background-size: contain;
    }

    .rental-key {
      background: url('../../../../assets/icons/menu-rental-actived.svg') no-repeat center;
      background-size: contain;
    }

    &-left {
      background: var(--vs-vp-details-vector-bg) no-repeat center;
      background-size: contain;
    }

    &-right {
      .underline {
        color: #ffd600;
        cursor: pointer;
        text-decoration: underline;
      }

      .desc {
        margin-top: 2px;
        font-size: 1.2rem;
        font-weight: 500;
      }

      .no-click-style {
        color: var(--vs-vp-list-details-text-color);
        cursor: default;
        text-decoration: none;
      }
    }
  }

  .to-fine {
    display: flex;
    width: 22rem;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.2rem;

    .img-bc {
      display: flex;
      width: 1.8rem;
      height: 1.8rem;
      align-items: center;
      justify-content: center;
      border: 1px solid #000;
      border-radius: 999px;
      background-color: var(--vs-timeline-node-color);

      img {
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    .btn {
      margin: 0 1rem;
      color: var(--vs-timeline-node-color);
      cursor: pointer;
      font-size: 1rem;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .modal-operate {
    position: absolute;
    top: 1.2rem;
    cursor: pointer;
  }
}
