:host {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

::ng-deep {
  /* stylelint-disable-next-line selector-class-pattern */
  .harp-gl_controls {
    display: none;
  }
}
