.car-rental-current-vehicle-info {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 0 3rem;
  border-bottom: 1px solid #b2b2b2;
  font-weight: 500;

  .company-info-item {
    display: flex;
    flex-direction: column;
    margin: 0 3rem 0 1rem;

    &:first-child {
      margin: 0 3rem;
    }

    .fs-18 {
      font-size: 1.2rem;
    }

    .fs-14 {
      font-size: 1rem;
    }
  }

  .vertical-line {
    border-left: 1px solid #979797;
  }
}
