.behavioral-task-detail {
  .plate-number {
    display: flex;
    align-items: center;
    padding: 1.4rem 2rem 0;
    font-weight: 500;

    .num-key {
      color: #888;
    }

    .num-value {
      margin-left: 0.5rem;
      color: var(--vs-text-color);
    }
  }

  .details-content {
    overflow: auto;
    height: 60rem;
    padding: 2rem;
    font-size: 18px;

    >div {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      margin-bottom: 0.2rem;

      span:first-child {
        width: 13rem;
      }

      span:last-child,
      .camera-list {
        flex: 1;
      }

      .camera-list {
        overflow: auto;
        max-height: 20rem;
      }
    }

    .desc {
      align-self: flex-start;
    }

    .word-break {
      line-height: 2rem;
      word-break: break-all;
    }
  }
}
